.container {
    max-width: 750px;
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 440px;
    scroll-snap-type: y mandatory;
}

.block {
    width: 100%;
    scroll-snap-align: start;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 7px;
}

.bottom > p {
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    padding-top: 3px;
}

.image > img {
    width: 38px;
}

.image {
    max-height: 38px;
}
